@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/*Global style */

:root {
    --clr-game-canvas: #031227;
    --clr-text: #faf9f6;
    --clr-btn: #107896;
    --clr-btn-hover: #43abc9;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Poppins, "sans-serif";
    font-weight: normal;
  }
  
  html {
    background: url(../images/space-920.jpg) no-repeat center center fixed;
    background-size: cover;
  }
  
  /* body {
    background-color: #0d1117;
    color: var(--clr-text);
  } */

  /* Game Bar Area */

.game-bar {
    width: 1000px;
    height: 70px;
    background-color: #115560;
    /* border-radius: 20px 20px 0px 0px; */
    padding: 0px;
  }

  .game-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    
}
